html{
  font-size: 16px;
  font-family: sans-serif;
  margin: 8rem;
}


header {
  background-color: lightgray;
  justify-content: space-evenly;
  display:flex;
  position:absolute;
  top: 0px;
  width: 80%;
}

header h1 {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
    margin: 0 10px;
}

nav a {
  text-decoration: none;
}

#section1 {
  display: grid;
  grid-template-columns: auto auto auto;
}

#section1 h2{
  display: grid;
  justify-content: center;
}

#section1 p {
  width: 30rem;
}

#skills {
  display:flex;
  max-width: 100%;
}

#skills ul{
  list-style: none;
}

#skills li{
  list-style: none;
  margin: 0 10px;
}

#skills img{
  max-width: 125px;
  max-height: 100px;
}

h3 {
  cursor: pointer;
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

h3:hover{
  transform: scale(1.2);
}

#msgContainer{
  visibility: hidden;
}
#section3 p{
  visibility: hidden;
}
