html {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;
}

.bio {
  display: flex;
  align-items: center;
}

.bio img {
  margin-right: 20px;
  max-width: 300px;
  max-height: 300px;
}

#section1 img {
  max-width: 400px;
  max-height: 400px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 6rem;
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

section p {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 1rem;
}

img {
  max-width: 125px;
  max-height: 100px;
}

h3 {
  cursor: pointer;
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

h3:hover{
  transform: scale(1.2);
}

#msgContainer{
  visibility: hidden;
}

#footer{
  background-color: lightgray;
  padding: 2rem;
  margin-top: 3rem;
}

#footer ul{
  list-style:none;
  display:flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#footer li {
  margin: 0 1rem;
}

#footer a {
  text-decoration: none;
}

#footer img {
  max-width: 125px;
  max-height: 100px;
}
